@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color-950: #020617;
  --color-900: #0f172a;
  --color-800: #1e293b;
  --color-700: #334155;
  --color-600: #475569;
  --color-500: #64748b;
  --color-400: #94a3b8;
  --color-300: #cbd5e1;
  --color-200: #e2e8f0;
  --color-100: #f1f5f9;
  --color-50: #f8fafc;

  --font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-900);
  font-family: var(--font-family);
}
